{% extends "process.html" %}
{% set active_page = "aliquot" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block process_content %}
<div class="bar">
    <div>
        <h1>{{aliquot.serial}} - {{aliquot.id}}</h1>
    </div>
    <div class="actions">
        <ul class="nav nav-pills">

            <li>
                {% if aliquot.status == 0 %}
                <a class="btn btn-success" href="{{url_for('aliquot.proceed', id=aliquot.id)}}">Valider</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

<div class="block">
    <div class="bar">
        <h1>{{_('Information générale')}}</h1>
    </div>
    <table class="table">
        <tr>
            <td>Numéro</td>
            <td>{{aliquot.serial}}</td>
        </tr>
        <tr>
            <td>Echantillons</td>
            <td>{{aliquot.sample.patient.bio_code}} {{aliquot.sample.code}}</td>
        </tr>
        <tr>
            <td>Nombre d'aliquot</td>
            <td>{{aliquot.nbr_aliquot()}}</td>
        </tr>
        <tr>
            <td>Volume / Quantité</td>
            <td>{{aliquot.volume}} {{aliquot.mesure.name}}</td>
        </tr>
    </table>
</div>

<div class="">
    <div class="bar">
        <h1>Liste des aliquots à effectués</h1>
    </div>
    {% for _item in aliquot.aliquot_items %}
        <form novalidate method="post" action="{{ url_for('aliquot.update', id=_item.id) }}">
            <table class="table">
                <tr>
                    <td>Numéro</td>
                    <td>Volume</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{_item.serial}}</td>
                    <td>
                        <input name="volume" type="text" class="form-control" value="{{_item.volume}}">
                    </td>
                    <td>
                        <input type="submit" class="form-control" value="Changer">
                    </td>
                </tr>
            </table>
        </form>
    {% endfor %}
</div>
{% endblock %}
