<div class="panel panel-default">
    <div class="panel-heading">Détails de l'emplacement</div>
    <table class="table">
        <tr>
            <td>NOM DE L'EQUIPEMENT</td>
            <td>{{ equipment.name }}</td>
        </tr>
        <tr>
            <td>TYPE DE L'EQUIPEMENT</td>
            <td>{{ equipment.equipment_type.name }}</td>
        </tr>
        <tr>
            <td>ESPACE DISPONIBLE</td>
            <td>{{equipment.available()}}</td>
        </tr>
        <tr>
            <td>ESPACE OCCUPE</td>
            <td>{{equipment.occupied()}}</td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Répresentation</div>
    <div class="panel-body">
        <div class="" id="equipments">
            <ul>
                {% for e in equipment.racks %}
                <li id="{{e.id}}">
                    {{ e.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>