{% extends "collect.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "patient" %}
{% block collect_content %}
    <div class="bar">
        <div>
            <h1>{{patient.order.project.title}} - {{patient.code}}</h1>
            <h3>{{patient.origin.name}} {{patient.sexe}} {{patient.birthday}}</h3>
        </div>
        <div class="actions">
            <a class="btn btn-default" href="{{ url_for('patient.edit', id=patient.id) }}">Modifier</a>
        </div>
    </div>
    <div class="block">
        <h3>Information générale</h3>
        <table class="table">
          <tr>
            <td><b>{{_('Code')}}</b></td>
            <td>{{patient.code}}</td>
          </tr>
          <tr>
            <td><b>{{_('Sexe')}}</b></td>
            <td>{{patient.sexe}}</td>
          </tr>
          <tr>
            <td><b>{{_('Date de naissance')}}</b></td>
            <td>{{patient.birthday}}</td>
          </tr>
        </table>
      </div>
    <div class="block">
        <h3>Prélèvements</h3>
        <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>{{_('Numéro à l\'arrivé')}}</th>
              <th>{{_('Code biobanque')}}</th>
              <th>{{_('Nature d\'échantillon')}}</th>
              <th>{{_('Conditionnement')}}</th>
              <th>{{_('Volume')}}/{{_('Unité')}}</th>
              <th>{{_('Date de prélèvement')}}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for sample in patient.samples %}
              {% include 'sample/_item.html' %}
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
