{% extends "collect.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_pagination.html" as macros %}
{% set active_page = "patient" %}
{% block collect_content %}
    <div class="bar">
      <h1>{{ _('Patient') }}</h1>
      <div class="actions">
          <ul class="nav nav-pills">
            <li>
                <a class="btn btn-default" href="{{ url_for('patient.add', order_id=0) }}">{{ _('Nouveau patient') }}</a>
            </li>
              <li>
                <a class="btn btn-default" href="{{ url_for('patient.import_data') }}">{{ _('Importer') }}</a>
            </li>
            <li>
                <a class="btn btn-default" href="{{ url_for('patient.export_data') }}">{{ _('Exporter') }}</a>
            </li>
          </ul>
      </div>
    </div>
    {% if patients | length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>{{_('Règne')}}</th>
          <th>{{_('Code')}}</th>
          <th>{{_('Sexe')}}</th>
          <th>{{_('Date de naissance')}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
            {% include 'patient/_item.html' %}
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    {% else %}
    <div class="panel panel-default emptyspace">
      <div class="panel-body text-center">
        <h3>Aucuns patients enregistrés</h3>
        <p>veuillez en créer un en cliquant sur le lien ci-dessous</p>
        <a class="btn btn-default" href="{{ url_for('patient.add') }}">{{_('Nouveau patient')}}</a>
      </div>
    </div>
    {% endif %}
{% endblock %}
