{% extends "collect.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "project" %}
{% block collect_content %}
<div class="bar">
    <div>
        <h1>{{_('Client : ')}}{{project.customer.display_as}}</h1>
        <h3>{{_('Projet : ')}}{{project.title}}</h3>
    </div>
    <div class="actions">
        <a class="btn btn-default" href="{{ url_for('project.edit', id=project.id) }}">Modifier</a>
    </div>
</div>

    <div class="block">
        <div class="bar">
            <h1>Dépôt</h1>
            <div class="actions">
                <a class="btn btn-default" href="{{ url_for('order.add', project_id=0) }}">{{ _('Nouveau dépôt') }}</a>
            </div>
        </div>
        {% if project.orders.all() | length > 0%}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{{_('Client')}}</th>
                <th>{{_('Nom et prénoms du déposant')}}</th>
                <th>{{_('Date')}}</th>
                <th>{{_('Receptionné par')}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in project.orders %}
                {% include 'order/_item.html' %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="blankslate blankslate-spacious blankslate-large">
              <svg height="40" class="octicon octicon-issue-opened blankslate-icon" viewBox="0 0 14 16" version="1.1" width="35" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
              </svg>
              <h3>{{_('Aucuns dépôt effectués pour le projet')}}</h3>
              <p>{{_('')}}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
