<div class="panel panel-default">
    <div class="panel-heading">Détails de l'emplacement</div>
    <table class="table">
        <tr>
            <td>NOM DE LA BOITE</td>
            <td>{{ box.name }}</td>
        </tr>
        <tr>
            <td>ESPACE DISPONIBLE</td>
            <td>{{box.available()}}</td>
        </tr>
        <tr>
            <td>ESPACE OCCUPE</td>
            <td>{{box.occupied()}}</td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Répresentation</div>
    <div class="panel-body">
        <div class="" id="holes">
            <ul>
                {% for hole in box.holes %}
                <li class="hole{{hole.status}}" id="{{hole.id}}">
                    <a href="{{url_for('location.hole', id=hole.id)}}">{{ hole.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


