<div class="panel panel-default">
    <div class="panel-heading">Détails de l'emplacement</div>
    <table class="table">
        <tr>
            <td>NOM DU RACK</td>
            <td>{{ rack.name }}</td>
        </tr>
        <tr>
            <td>ESPACE DISPONIBLE</td>
            <td>{{rack.available()}}</td>
        </tr>
        <tr>
            <td>ESPACE OCCUPE</td>
            <td>{{rack.occupied()}}</td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Répresentation</div>
    <div class="panel-body">
        <div class="" id="racks">
            <ul>
                {% for e in rack.boxes %}
                <li id="{{e.id}}">
                    {{ e.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

