{% extends "admin.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "subject" %}
{% block admin_content %}
    <div class="bar">
        <div>
            <h1>{{ _('Thématique') }}</h1>
        </div>
        <div class="actions">
            <a class="btn btn-default" href="{{ url_for('subject.add') }}">{{ _('Nouvelle thématique') }}</a>
        </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>{{_('Etude')}}</th>
          <th>{{_('Thématique')}}</th>
          <th>{{_('Description')}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for subject in subjects %}
          {% include 'subject/_item.html' %}
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
