{% extends "admin.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "project" %}
{% block admin_content %}
    <div class="bar">
        <h1>{{ _('Projet') }}</h1>
        <div class="actions">
            <a class="btn btn-default" href="{{ url_for('project.add') }}">{{ _('Nouveau projet') }}</a>
        </div>
    </div>
    {% if projects | length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>{{_('Titre')}}</th>
          <th>{{_('Description')}}</th>
          <th>{{_('Client')}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          {% include 'project/_item.html' %}
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="panel panel-default emptyspace">
      <div class="panel-body text-center">
        <h3>Aucuns projets enregistrés</h3>
        <p>veuillez en créer un en cliquant sur le lien ci-dessous</p>
        <a class="btn btn-default" href="{{ url_for('project.add') }}">{{_('Nouveau projet')}}</a>
      </div>
    </div>
    {% endif %}
{% endblock %}
