{% extends "collect.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "order" %}
{% block collect_content %}
<!-- just to display all potential errors -->
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
    <div class="bar">
        <h1>{{ _('Formulaire d\'enregistrement de dépôt') }}</h1>
    </div>
    <form action="" method="post" novalidate>
        <div class="block">
            <div class="bar">
                <h1>Client</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        {{ form.customer.label }}
                    </label>
                    {{ form.customer(class_="form-control") }}
                </div>
                <div class="col-md-6">
                    <label>
                        {{ form.project.label }}
                    </label>
                    {{ form.project(class_="form-control") }}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h1>Déposant</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>
                        {{ form.firstname.label }}
                    </label>
                    {{ form.firstname(class_="form-control") }}
                </div>
                <div class="col-md-4">
                    <label>
                        {{ form.lastname.label }}
                    </label>
                    {{ form.lastname(class_="form-control") }}
                </div>
                <div class="col-md-4">
                    <label>
                        {{ form.telephone.label }}
                    </label>
                    {{ form.telephone(class_="form-control") }}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h1>Transport</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        {{ form.transport_date.label }}
                    </label>
                    {{ form.transport_date(class_="form-control datepicker") }}
                </div>
                <div class="col-md-6">
                    <label>
                        {{ form.temperature.label }}
                    </label>
                    {{ form.temperature(class_="form-control") }}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h1>Patient</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>
                        {{ form.code.label }}
                    </label>
                    {{ form.code(class_="form-control") }}
                </div>
                <div class="col-md-4">
                    <label>
                        {{ form.sexe.label }}
                    </label>
                    {{ form.sexe(class_="form-control") }}
                </div>
                <div class="col-md-4">
                    <label>
                        {{ form.birthday.label }}
                    </label>
                    {{ form.birthday(class_="form-control datepicker") }}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h1>Documents</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="radio-inline">
                        {{ form.consent_file.label }}
                        {{ form.consent_file() }}
                    </label>
                    {{ form.consent_file_url() }}
                </div>
                <div class="col-md-4">
                    <label class="radio-inline">
                        {{ form.sample_file.label }}
                        {{ form.sample_file() }}
                    </label>
                    {{ form.sample_file_url() }}

                </div>
                <div class="col-md-4">
                    <label class="radio-inline">
                        {{ form.observation_file.label }}
                        {{ form.observation_file() }}
                    </label>
                    {{ form.consent_file_url() }}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h1>Echantillons</h1>
                <div class="actions">
                    <button id="addSampleBtn" class="btn btn-default">Nouveau échantillon</button>
                </div>
            </div>
            <div class="row" id="list">
                {% for sample in form.samples %}
                    {% include 'sample/_sample.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ form.hidden_tag() }}
                    {{ form.submit(class_="btn btn-success") }}
                </p>
            </div>
        </div>
    </form>
{% endblock %}
