<div class="col-md-4 item">
    <p class="removeSampleBtn">remove</p>
    <p>
        {{ sample.code.label }}
        {{ sample.code(class_="form-control") }}
    </p>
    <p>
        {{ sample.sample_type.label }}
        {{ sample.sample_type(class_="form-control") }}
    </p>
    <p>
        {{ sample.date.label }}
        {{ sample.date(class_="form-control") }}
    </p>
    <p>
        {{ sample.site.label }}
        {{ sample.site(class_="form-control") }}
    </p>
    <p>
        {{ sample.tube_type.label }}
        {{ sample.tube_type(class_="form-control") }}
    </p>
    <p>
        {{ sample.mesure.label }}
        {{ sample.mesure(class_="form-control") }}
    </p>
    <p>
        {{ sample.volume.label }}
        {{ sample.volume(class_="form-control") }}
    </p>
</div>