{% extends "collect.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "sample" %}
{% block collect_content %}
<div class="bar">
  <h1>{{ _('Echantillon') }}</h1>
  <div class="actions">
    <a class="btn btn-default" href="{{ url_for('sample.add') }}">{{ _('Nouvel échantillon') }}</a>
  </div>
</div>
{% if orders | length > 0 %}
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>{{_('Code')}}</th>
      <th>{{_('Nature')}}</th>
      <th>{{_('Type')}}</th>
      <th>{{_('Conditionnement')}}</th>
      <th>{{_('Volume')}}/{{_('Unité')}}</th>
      <th>{{_('Date de prélèvement')}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
      {% include 'sample/_item.html' %}
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="panel panel-default emptyspace">
      <div class="panel-body text-center">
        <h3>Aucuns échantillons enregistrés</h3>
        <p>veuillez en créer un en cliquant sur le lien ci-dessous</p>
        <a class="btn btn-default" href="{{ url_for('sample.add') }}">{{_('Nouvel échantillon')}}</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
