{% extends "base.html" %}
{% set active_page = "basket" %}
{% block app_content %}
<div class="bar">
    <h1>{{ basket.name }}</h1>
    <!--<div class="actions">-->
    <!--<ul class="nav nav-pills">-->
    <!--<li>-->
    <!--<a class="btn btn-default" href="{{ url_for('basket.edit', id=basket.id) }}">{{_('Modifier')}}</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
</div>
<div class="">
    {% if basket.samples.all() | length  > 0%}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{{_('Numéro à l\'arrivé')}}</th>
            <th>{{_('Code biobanque')}}</th>
            <th>{{_('Nature d\'échantillon')}}</th>
            <th>{{_('Conditionnement')}}</th>
            <th>{{_('Volume')}}/{{_('Unité')}}</th>
            <th>{{_('Date de prélèvement')}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for sample in basket.samples %}
        {% include 'sample/_item.html' %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% include '_empty.html' %}
    {% endif %}
</div>
{% endblock %}
