{% extends "admin.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "study" %}
{% block admin_content %}
    <div class="bar">
      <h1>{{ _('Etude') }}</h1>
      <div class="actions">
        <a class="btn btn-default" href="{{ url_for('study.add') }}">{{ _('Nouvelle étude') }}</a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>{{_('Nom de l\'étude')}}</th>
          <th>{{_('Desccription')}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for study in studys %}
            {% include 'study/_item.html' %}
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
